.container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h2 {
  margin-top: 12px;
  color: #094067;
  width: 80%;
}

.listWrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
}
